*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font: 400 14px/1 'Roboto', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article>*+* {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

input textarea {
  border: none;
  outline: none;
}

button {
  border: none;
  border-color: transparent;
  cursor: pointer;
  padding: 0;
}

textarea {
  resize: vertical;
}

.container {
  width: 1920px;
  max-width: 100%;
  margin: 0 auto;
  padding-left: 65px;
  padding-right: 50px;
  padding-top: 40px;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.herader-nav {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  color: #0a0b0f;

}

.herader-nav a {
  font-size: 14px;
  line-height: 1;
  font-weight: 700;

}

.herader-nav a+a {
  margin-left: 65px;
}

.contact {
  background-color: #00ac6a;
  border-radius: 17px;
  padding: 7px 13px;
  color: #fff;
}

.container_order {
  width: 1600px;
  max-width: 100%;
  padding-left: 65px;
}

.title {
  font-size: 112px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: -0.025em;
  color: #0a0b0f;
  padding-top: 80px;
  padding-left: 100px;
}

.subtitle {
  font-size: 30px;
  line-height: 48px;
  font-weight: 400;
  color: #0a0b0f;
  padding-top: 30px;
  padding-left: 100px;
}