*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font: 400 14px/1 'Roboto', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article>*+* {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.d-flex {
  display: flex !important;
}

.aling-item-center {
  align-items: center !important;
}

.justify-content-center {
  justify-content: center !important;
}

.justify-content-between {
  justify-content: space-between !important;
}

input textarea {
  border: none;
  outline: none;
}

button {
  border: none;
  border-color: transparent;
  cursor: pointer;
  padding: 0;
}

textarea {
  resize: vertical;
}

.container {
  width: 1920px;
  max-width: 100%;
  margin: 0 auto;
  padding-left: 65px;
  padding-right: 50px;
  padding-top: 40px;
}

.container-fluid {
  width: 1920px;
  max-width: 100%;
  padding: 0 15px;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.herader-nav {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  color: #0a0b0f;

}

.herader-nav a {
  font-size: 14px;
  line-height: 1;
  font-weight: 700;

}

.herader-nav a+a {
  margin-left: 65px;
}

.contact {
  background-color: #00ac6a;
  border-radius: 17px;
  padding: 7px 13px;
  color: #fff;
}

.container_order {
  width: 1600px;
  max-width: 100%;
  padding-left: 65px;
}

.title {
  font-size: 112px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: -0.025em;
  color: #0a0b0f;
  padding-top: 80px;
  padding-left: 100px;
}

.subtitle {
  font-size: 30px;
  line-height: 48px;
  font-weight: 400;
  color: #0a0b0f;
  padding-top: 30px;
  padding-left: 100px;
}

.container_contacts {
  width: 1630px;
  max-width: 100%;
  padding: 0 15px;
  margin: auto;
}

.contacts-us-form-tabs {
  padding-top: 65px;
}

.tab-navs .nav-item-link {
  min-height: 100px;
  min-width: 265px;
  background-color: #ffffff;
  border: 1px solid #b6b6b7;
  border-radius: 5px 5px 0 0;
  border-bottom-color: #00ac6a;
  color: #b6b6b7;
  font-size: 18px;
  font-weight: 700;

}

.tab-navs .nav-item-link.active {
  border-color: #00ac6a;
  color: #000;
  border-bottom-color: #ffffff;
}

.tab-navs .nav-item+.nav-item {
  margin-left: 30px;
}

.contact-us-tabs-content {
  max-width: 100%;
  width: 1800px;
  height: 780px;
  background-color: rgba(255, 255, 255, 0.0);
  border: 1px solid #00ac6a;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -1px;
}

.trusted-us-partners {
  width: 100%;
  max-width: 440px;
  background-color: #00ac6a;
  padding: 100px 50px 0 50px;
  margin-left: auto;
}

.trusted-us-title {
  text-transform: uppercase;
  font-weight: 14px;
  opacity: 0.3;
  margin-bottom: 25px;
}

.trusted-us-imgs {
  flex-wrap: wrap;
}

.trusted-us-img {
  width: 50%;
  margin: 30px 0;
  text-align: center;
  opacity: 0.7;
}

.tabs-with-form {
  padding: 130px 100px;
  flex-grow: 1;
}

.project-type-checkbox+.project-type-checkbox {
  padding-top: 20px;
}

.project-type-checkbox input {
  display: none;
}

.project-type-checkbox>label {
  padding: 15px 25px;
  background-color: #f5f5f5;
  border: 1px solid #f5f5f5;
  border-radius: 5px;
  display: block;
  cursor: pointer;
}

.project-type-checkbox>label:hover {
  background-color: #ffffff;
  border-color: #00ac6a;
}

.project-types-part {
  width: 100%;
  max-width: 300px;
}

.project-type-checkbox .project-type-title {
  font-size: 16px;
  font-weight: 700;
  margin-top: auto;
}

.project-type-checkbox>input:checked+label {
  background-color: #00ac6a;
  border-color: #00ac6a;
}

.project-team-type-radio-group {
  margin-top: 45px;
}

.project-team-type-radio>label {
  font-size: 16px;
  color: #c7c8c8;
  cursor: pointer;
}

.project-team-type-radio>label::before {
  content: '';
  width: 18px;
  height: 18px;
  border: 2px solid #b4e7d3;
  background-color: transparent;
  border-radius: 50%;
  margin-right: 10px;
}

.project-team-type-radio input:checked+label::before {
  background-color: #fff;
  padding: 2px;
  background-clip: content-box;
}

.project-type-checkbox>input:checked+label .project-team-type-radio label {
  color: #fff;
}

.project-type-checkbox>input:checked+label .project-team-type-radio label::before {
  border-color: #fff;
}

.main-form-part {
  margin-left: 85px;
  width: 100%;
  max-width: 740px;
}

.term-button-checkbox {
  width: 158px;
  height: 42px;
  background-color: rgba(0, 172, 106, 0.0);
  border: 1px solid #d3d3d4;
  border-radius: 5px;
  display: inline-block;
  margin-bottom: 100px;
  text-align: center;
  cursor: pointer;
}

.term-button-checkbox input {
  display: none;
}

.term-button-checkbox>label {
  font-size: 16px;
line-height: 36px;
font-weight: 700;
color: #0a0b0f;

}

.term-button-checkbox>input:checked + label {
  border-color: #00ac6a;
}



.term-button-title {
  font-size: 16px;
  line-height: 36px;
  font-weight: 700;
  color: #0a0b0f;
}

.input-item {
  position: relative;
  max-width: 500px;
}

.input-item input {
  width: 100%;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #d3d3d4;
  padding-left: 25px;
  font-family: 'Roboto'sans-serif;
  font-size: 18px;
  line-height: 1;
  font-weight: 500;
}

.input-item label {
  font-family: 'Roboto'sans-serif;
  font-size: 18px;
  line-height: 1;
  font-weight: 500;
  position: absolute;
  width: 100%;
  top: 3px;
  left: 26px;
  transition: all 0.2s ease-in;
}

.input-item input:focus~label,
.input-item input.value-exist~label {
  top: -20px;
  font-size: 12px;
  color: #969798;
  font-weight: 300;
}

.main-form-part .input-item+.input-item {
  margin-top: 100px;
}